[2014-08-04 20:15] mourner opened #1 "Clean up and update for mapbox-gl-js public release"

[2014-08-27 14:46] tmcw opened #2 "Documentation"

[2014-08-27 15:06] #1 closed, assigned to mourner

[2014-08-27 15:06] #2 closed, assigned to nobody

[2014-08-27 15:07] tmcw opened #3 "Remove keys from examples"

[2014-08-27 16:28] tmcw opened #4 "Mapbox.js plugin CDN"

[2014-08-27 16:32] #3 closed, assigned to nobody

[2014-09-03 19:39] tmcw opened #5 "Open source backlog"
@mourner are there still issues that need to be hit before this can be opened? Can you file tickets for them?

[2014-09-15 18:48] #5 closed, assigned to mourner

[2014-11-09 23:25] fnicollet opened #7 "Better sync between leaflet layers (markers) and mapbox-gl as a layer"
Hi,

I have noticed a lag when panning the map, when I am using mapboxgl as a layer inside a leaflet map with markers. It seems to be because of IE not handling mapbox-gl-js so well and being slower on rendering than Chrome but globally, would it not be interesting for both component to share the "navigation" (mouse or touch) logic?
Because here, both libraries handle mouse/touch actions and mapbo

[2014-11-14 18:10] mikeatlas opened #8 "request? add package to bower?"
Even though I'm not on node or npm, I like pulling in assets into rails using http://www.RailsAssets.org - it creates dynamic rails asset gems from bower packages, making it easy to keep vendor assets external from your application repository without dealing with all the gluework needed.

[2014-11-14 18:12] #8 closed, assigned to nobody

[2015-01-07 00:03] fnicollet opened #9 "Adding a mapbox-gl layer after a polyline will hide the polyline"
Hello,

Here is what I do.
Create a map, add a standard tile layer, add a polyline.
Then, remove the tile layer and a mapbox-gl layer. Then polyline will still be displayed until some webgl tiles start being displayed, then it disappears.
Setting a z-index of 1 on the SVG of the polyline gets it back on top

Fabien

[2015-01-07 00:08] mourner commented on #9
Thanks! Looks like an easy fix.

[2015-01-07 14:01] fnicollet commented on #9
Cool :)
What is your idea? I doesn't seem like you can set the zIndex via the leaflet API on L.Polyline. Should the fix be in leaflet or mapbox-gl-leaflet?

Fabien

[2015-01-07 14:44] mourner commented on #9
The fix would be to put GL in the tile pane probably: https://github.com/mapbox/mapbox-gl-leaflet/blob/master/leaflet-mapbox-gl.js#L20

[2015-01-07 14:45] fnicollet commented on #9
Ah yes, I see, I'll give it a try tonight and let you know

[2015-01-09 22:37] fnicollet commented on #9
Hello,
Just tried it and it indeed fixes the z-index issues. I create a pull request that make this simple change in add / remove

Thanks for your help, keep up the great work :)

Fabien

[2015-01-09 22:37] #9 closed

[2015-02-09 09:58] man-r opened #12 "out of position markers after map drag and the zoom value is less than 2"
when you drag the map vigorously and the zoom value is less than 2 the markers get out of position. this happens in both mobile and desktop browsers.

[2015-04-15 00:42] trusktr opened #18 "Animations in sync with other leaflet layers?"
Will leaflet layers on top be animated in sync with the mapbox gl js layer, for example when zooming or panning? (The Google Map plugin results in out-of-sync animations of leaflet layers with the Google Map layer, for example)

[2015-04-23 10:03] MelnikVasya commented on #12
![output_id9nuq](https://cloud.githubusercontent.com/assets/5058192/7294786/0f5ef14e-e9b9-11e4-9248-eb39e77a0df1.gif)

[2015-04-23 10:05] mourner commented on #12
Right, confirmed. Will look into this.

[2015-09-05 21:42] gmaclennan commented on #7
Would one option would be to draw the container for MapboxGL oversize and move the whole container on pan and only redraw on pauses in panning. Would mean that on long pans sections would not be rendered though, depending on the overlap. This is similar to how Leaflet handles vector layers no?

[2015-09-05 22:12] fnicollet commented on #7
Sounds like a good thing to try, would love to heard @mourner opinion about it.
Not sure about having it oversized tho, as it will probably slow down the render phase even more.

[2015-09-05 22:21] fnicollet commented on #7
I think this is similar to debouncing the "_update" call. When update isn't called, leafelt drags the map without refreshing it, leaving blank areas around.
If you want to try it, add to your code the debounce function:
[code]

Then replace
[code]
with
[code]

You will see that you get very smooth panning until the update kicks in after 250ms

[2015-09-05 23:55] fnicollet commented on #7
Got me curious so I made some experimentations.
Simplest change is to change "move" to "moveend". in that case, the gl-map only refreshes once you stop panning (mouseup). And when it does so, there is a slight delay and the map seem to jump back into place. Actually, the _update method first does
[code]
and then updates mapbox-gl-js.
But the first line in instant while the other one has a slight d

[2015-09-24 19:51] fnicollet opened #21 "Compatibility branch with leaflet-master"
With leaflet 1.0 out soon, there should be a branch for this project for leaflet-master.
The change is pretty simple, just extend L.Layer instead of L.Class
There is another change to do in  _animateZoom, as e.origin doesn't exist anymore and e.center is a LatLng, not a L.Point. I tried changing it to
[code]
But the offset seem to be wrong. If you help me figure out how the offset must be calculat

[2015-10-04 21:33] fnicollet commented on #21
The leaflet 1.0 changelog says:
Layers now rely on zoom event in addition to viewreset for frame-by-frame zoom animations. #3278

Seems like mapbox-gl-leaflet should now use the "zoom" event as this one will be fired several times during "pinch zoom"
But the zoom event doesn't contain any information, I tried playing with map._animateToCenter and map._animateToZoom properties with no luck.

Any he

[2015-11-09 21:42] fnicollet commented on #21
Any help on this issue @mourner or @jfirebaugh ?
With leaflet 1.0 coming up, a compatible branch of mapbox-gl-leaflet would be nice, there is just this last issue with the zoom center

Thanks :)
Fabien

[2015-11-10 00:24] eczajk1 commented on #4
What's the likelihood of this getting added to Mapbox CDN?

[2015-11-10 13:48] bwyss opened #24 "How to create a geojson vector tile layer?"
How can I create a geojson vector tile layer?
I was hoping to do something like:

    map.addSource('projectSource', {
        'type': 'geojson',
        'data': layerAttributes,
    });

 and then using the source, create a layer:

    map.addLayer({
        'id': transparentLayer,
        'type': 'point',
        'source': 'projectSource',
        "source-layer": "eq-simple",
        'interactiv

[2015-11-10 14:01] mourner commented on #24
After adding the GL layer to a map, you have access to it through `glLayer._glMap`. We should expose it more publicly though.

[2015-11-10 14:36] bwyss commented on #24
Thanks, worked!

    gl._glMap.addSource('projectSource', {
        'type': 'geojson',
        'data': layerAttributes,
    });

[2015-11-10 15:10] bwyss opened #25 "Interactivity seems to not work"
I am trying to setup a click event on a layer:

    // Create the map layer
    gl._glMap.addLayer({
        'id': 'transparentLayer',
        'type': 'circle',
        'source': 'projectSource',
        'source-layer': 'eq-simple',
        'interactive': true
    });

    gl._glMap.on('click', function(e) {
        console.log('e:'); // this log never makes it to the browser console.
        cons

[2015-11-18 12:48] musicformellons commented on #12
Same here.

[2015-11-18 14:37] musicformellons commented on #18
A while ago this was not working for, but now it is somehow. I had some freezes when zooming with touch (with my mouse no problems), but after  using leaflet 0.7.5 this was also solved.

[2015-11-18 15:02] mourner commented on #18
Thanks! Also, the sync with Google Maps plugin can not be fixed on either Leaflet or this plugin side.

[2015-11-18 15:02] #18 closed

[2015-11-18 16:07] musicformellons commented on #24
This worked great for the mainpart of my existing mapbox gl js stuff! It does show the gl source markers layer.

I also tried this:
[code]
ETC.

Which also worked fine in mapbox gl js, but now it does not. It does not give an error message but no popup shows when I click on a gl sourced markers layer as it used to do within mapbox gl js. Is this because the click sensitivity just relates to leafle

[2015-12-05 11:34] rishabhjain30 opened #26 "Add leaflet base layer and an interactive gl js polygon/marker layer over it?"
Can you add some more examples regarding how can I do that?

Also, this is really awesome.

[2015-12-05 13:32] rishabhjain30 commented on #25
@bwyss Did you manage to get any progress on this?

[2015-12-13 20:43] ryanbaumann opened #27 "gl.update is not a function on 0.12.1 mapbox-gl-js"
When loading a heat layer into a gl map using leaflet-mapbox-gl, I'm getting error "gl.update is not a function" from the "_update" method below when panning or zooming the map.

This works fine in  mapbox-gl-js 0.12.0 -- bug was introduced in  mapbox-gl-js 12.1 - perhaps from the following change noted in the changelog which makes the "update" method private:

Breaking changes
Made Map#update and

[2015-12-28 01:18] jtlevy commented on #27
Any resolutions to this?

[2015-12-29 17:57] bdirito opened #28 "Mapboxgl changed from LatLng to LngLat as of 0.10.0"
https://github.com/mapbox/mapbox-gl-js/blob/master/CHANGELOG.md

This project still uses LatLng

[2015-12-29 18:00] #28 closed

[2016-01-04 10:18] BastienAlvez commented on #12
Same error with leaflet zoom > 21.
Mapbox gl maxZoom is 20 by default. When i give maxZoom 25 to leaflet and 24 to mapboxGL it's ok but got an error later... App crash.

[2016-01-08 01:28] goldpbear commented on #27
We had this issue, and were able to resolve it by changing gl.update() to gl._update() (i.e. adding an underscore before the method name). In version 0.12.1 mapbox-gl-js changed the update() method to be a private method, which apparently means prefixing it with an underscore.

[2016-01-15 01:45] baxford opened #30 "Issue with panning at low zoom levels (0 and 1)"
I've noticed a minor issue when using leaflet-mapboxGL at low zoom levels.
If you drag-pan the map, layers on top of the base vector tile layer move at a different rate to the base layer. The following jsfiddle demonstrates (try dragging the map up and down and see that the marker moves away from it's place on the map):
http://jsfiddle.net/baxford/vsqgofm6/3/

I've found a fix by adding the follow

[2016-01-15 01:55] baxford commented on #12
I just created a new issue, then noticed this issue was already in the system. Oops!

I've found a fix that works for me, it's detailed in
https://github.com/mapbox/mapbox-gl-leaflet/issues/30
and
https://github.com/mapbox/mapbox-gl-leaflet/pull/29

[2016-01-17 13:27] ArmEagle commented on #25
Maybe not related at all. But for me, using plain mapbox (not GL), 'console.log' in event handling never logs anything while 'alert' does. (Mapbox 2.2.4. Firefox 43.0.4. Windows 7)

[2016-01-19 16:44] #30 closed

[2016-01-19 16:44] #12 closed

[2016-01-22 01:43] danswick opened #31 "Setting a marker and calling panTo function breaks zoom controls"
Steps to replicate:

1. Add a marker and pan to it:

[code]

2. Click the zoom out button 2 or more times.

[2016-01-22 01:50] danswick opened #32 "Deprecate mapbox-gl-leaflet"
This tool was meant to help bridge the gap between Mapbox.js and Mapbox GL JS, but Mapbox GL JS and its accompanying documentation have since matured to a point where a hybrid is probably no longer necessary.

If deprecation is too extreme (there is still some activity in this repo), I think there should at least be a disclaimer that mapbox-gl-leaflet is experimental and bugs may not be fixed quic

[2016-01-22 01:52] jfirebaugh commented on #32
I think we should do this when https://github.com/mapbox/mapbox.js/pull/1108 lands and we have good examples around it.

[2016-01-22 01:54] bsudekum commented on #32
Yep, agree with you both.

[2016-01-22 10:58] mourner commented on #32
Oh, yes, me and @lyzidiamond have been meaning to do this for a while. Let's add "experimental" badge and add a more serious deprecation notice with links once the styleLayer goes out.

[2016-01-22 11:06] fnicollet commented on #32
Hello,

I currently use mapbox-gl-leaflet even thought it is experimental because it is very convenient for compatibility.

So the idea here is that mapbox.js will basically allow having a mapbox-gl-js layer just like we could do it in leaflet (having the GL canvas being part of the "map layers" like any other)?
I tried reading the @bsudekum changing concerning styleLayer but couldn't really under

[2016-01-22 11:18] mourner commented on #32
@fnicollet it means that you will soon be able to use any GL styles you create in Mapbox Studio as raster tiles. In Leaflet as well. Mapbox.js styleLayer is just a convenient shortcut that will figure out all layer params given just a style ID.

[2016-01-22 11:24] fnicollet commented on #32
Ok, so it's good for raster tiles but it's not a replacement for displaying
vector-tiles.
Is this possibility abandonned then? Having vector-tiles integrated in
either mapbox.js or leaflet?
Le 22 janv. 2016 12:18, "Vladimir Agafonkin" <notifications@github.com> a
écrit :

[2016-01-22 11:42] mourner commented on #32
It's just not something we want to put effort in long-term because it's not worth it. Putting WebGL-based rendering in the confines of a mapping system designed for raster tiles, round zoom levels and no rotation leads to a subpar mapping experience — you don't get a lot of GL benefits while getting all the cruft (WebGL compatibility requirements, much higher memory/GPU/CPU footprint etc.).

Howev

[2016-01-22 14:31] patrickarlt commented on #32
@mourner I just started using this yesterday to make vector tiles compatible with Esri Leaflet. Leaflet 1.0.0 compatibility is https://github.com/patrickarlt/mapbox-gl-leaflet/blob/leaflet-master/leaflet-mapbox-gl.js. I can PR it if you like. I'm not sure I can become a permanent maintainer given my lack of knowledge around MapBox GL JS. But maybe me and @fnicollet could co-maintain?

[2016-01-22 14:33] patrickarlt commented on #21
@fnicollet You can check out my fork https://github.com/patrickarlt/mapbox-gl-leaflet/blob/leaflet-master/leaflet-mapbox-gl.js.

The only changes are [using the `L.Layer` class](https://github.com/patrickarlt/mapbox-gl-leaflet/blob/leaflet-master/leaflet-mapbox-gl.js#L1) and [altering origin calculation during zoom](https://github.com/patrickarlt/mapbox-gl-leaflet/blob/leaflet-master/leaflet-mapbo

[2016-01-22 15:09] mourner commented on #21
@patrickarlt how about a PR? :)

[2016-01-22 15:11] mourner commented on #32
@patrickarlt @fnicollet you can try! I've given you both push permissions.

[2016-01-22 15:27] fnicollet commented on #32
Thanks @mourner, will do my best to co-maintain it :)

[2016-01-30 00:20] ryanbaumann commented on #27
@goldpbear that solved the problem for me as well, calling the newly instantiated method as private.  Thanks!

[2016-02-01 11:19] ConorCoakley commented on #25
I'm also wondering whether this is possible. Can you pass reference to a mapbox hosted vector layer, which is brought in via Mapbox GL,  to Leaflet to use in an on click event?

If it is possible is there any example available? If it's not possible I'd really appreciate if anyone in the know could confirm this.

Thanks.

[2016-02-04 16:58] ConorCoakley commented on #25
Anyone able to confirm that this is or isn't possible? If it's not possible I'd really like to know so I can look elsewhere for a way to complete a project I'm working on.

[2016-02-04 17:01] ConorCoakley commented on #26
+1 for this.

[2016-02-06 08:00] dotku opened #35 "Failed to initialize WebGL?"
I just git clone this repo, and I receive the error with this

[2016-02-06 12:32] fnicollet commented on #35
Hello,

Is WebGL available on your machine / browser? Try this website:
https://www.browserleaks.com/webgl

If not, you might need to update your graphic card drivers

[2016-02-06 16:11] ConorCoakley opened #36 "Interact with mapbox hosted layer"
Is it possible to interact with a vector layer hosted on mapbox using the leaflet binding? For example, can you click on a vector polygon layer and have feature attributes for that layer returned in a popup?

[2016-02-06 16:17] fnicollet commented on #36
Hello,

So, do you mean that you create a leaflet vector layer (L.GeoJSON, L.Polyline etc.) or you want to use mapbox's featureAt method (https://www.mapbox.com/mapbox-gl-js/api/#Map.featuresAt) when you click anywhere in the leaflet+mapbox-gl-leaflet map?

[2016-02-06 16:41] ConorCoakley commented on #36
Hi fnicollet,

I have uploaded a polygon shapefile to mapbox. Using the mapbox-gl-leaflet binding I am able to display the layer (the layer is too large to create a leaflet layer from, hence I'm using mapbox gl). It displays quickly, looks great, but I don't know how to interact with the layer. Ideally I'd like to be able to click the layer and return feature attribute information. Is this possibl

[2016-02-06 16:58] ConorCoakley commented on #36
I'm initialising my map like this:
`
var map = L.map('map', {maxZoom: 17}).setView([37.8, -96], 4);

var gl = L.mapboxGL({
    accessToken: 'pk.myaccesstoken',
    style: 'mapbox://styles/mymapbox/myLayersID'
}).addTo(map);
`
This brings in my mapbox layer which I've styled in Mapbox Studio. I'm looking to interact with the layer and return attribute feature information in a similar way that you c

[2016-02-06 16:59] fnicollet commented on #36
I see. At the moment, the leaflet binding only allows you to insert the mapbox-gl-js layer but no interaction goes through it.
I'll have a look at what you are trying to achieve, maybe that can be done

[2016-02-06 17:06] ConorCoakley commented on #36
Thanks fnicollet. That's a pity. It would really improve the usability of the binding. It's great and all to be able to visualise layers but interactivity really is essential.

[2016-02-06 17:51] fnicollet commented on #36
Here is a quick example that I put together:
http://jsfiddle.net/fnicollet/vmfucc8r/

Basically forward the click event to the featuresAt function
[code]

Is that what you were trying to achieve?

[2016-02-06 19:11] ConorCoakley commented on #36
Thanks for that fnicollet. Not what I'm looking for unfortunately. If you were forwarding the click event to the Mapbox featuresAt function I don't really see the advantage of using the binding. Wouldn't it make more sense just to use the Mapbox GL js api directly? I guess I was hoping the binding would enable the user to interact with Mapbox GL layers using leaflet functions and plugins. Thus you

[2016-02-07 14:28] fnicollet commented on #36
Hello,
I see what you mean. The wrapper only allows you to easily add the
mapbox-gl layer to a leaflet map. It makes sense especially because at the
time, mapbox-gl-js didn't have any stable API for geojson, marker and
infowindows. Now mapbox-gl-js has these APIs so if you only need that, you
might be better off only using mapbox-gl-js.
But Leaflet is much more than that, especially when it comes

[2016-02-09 09:03] dotku commented on #35
@fnicollet Oh, I see... my browser just simpple doesn't support it... Thank you!

[2016-02-09 09:04] fnicollet commented on #35
You are welcome :)

[2016-02-09 09:04] #35 closed

[2016-02-14 13:01] #36 closed

[2016-02-29 16:21] patrickarlt commented on #7
@fnicollet I've opened up https://github.com/mapbox/mapbox-gl-leaflet/pull/37 which improves the syncing with zoom animations a bit.

This got me thinking back to this and how we might be able to support perfect zoom animation syncing once and for all. What do you think of this:

1. at `zoomstart` copy the existing content of the web gl map to a new `<canvas>` element.
2. at `zoomanim` call `gl.ju

[2016-02-29 16:28] fnicollet commented on #7
i saw the commits, didn't try them yet but they look good to me.

About creating a snapshot of the GL content to a canvas, i don't know but it is worth a try. I don't know how long it takes to "snapshot" the GL content to a canvas. If it takes too long, a mousewheel zoom might lag behind a little bit. It must depend on the size of the canvas as well I guess
But that's worth giving it a try :)

Fab

[2016-02-29 17:26] patrickarlt commented on #7
@fnicollet I kept messing around after remembering how zooming in `L.ImageOverlay` worked and updated https://github.com/mapbox/mapbox-gl-leaflet/pull/37 again I've tested in Chrome, Firefox and Safari and my ~1 year old Moto X and this seems to give us perfect zoom syncing. What happens now is:

1. on `zoom-start` set a flag to disable panning
2. on `zoom-anim` apply the proper css transform the

[2016-02-29 22:10] fnicollet commented on #7
Closed by PR #37

[2016-02-29 22:10] #7 closed

[2016-02-29 22:17] fnicollet commented on #27
Closed via commit https://github.com/mapbox/mapbox-gl-leaflet/commit/c0a353b80bf7e5670ff4e904cab9f6fb78790236

Leaflet-mapbox-gl now uses the "private" _update method from mapbox-gl-js

[2016-02-29 22:17] #27 closed

[2016-02-29 22:23] fnicollet commented on #21
I guess this issue can be closed as the leaflet-master branch now exists

[2016-02-29 22:23] #21 closed

[2016-02-29 22:26] fnicollet commented on #32
The experimental flag has been added by the Mapbox staff via commit https://github.com/mapbox/mapbox-gl-leaflet/commit/54426b28c077ed7c0646ad3034a6e31a80295994 so I guess this issue can now be closed

[2016-02-29 22:26] #32 closed

[2016-02-29 22:34] fnicollet commented on #4
@tmcw @mourner Hello Mapbox staff :)
How do the Mapbox CDN works exactly? As Mapbox tagged this project as experimental, I guess it won't be part of the Mapbox CDN anytime soon?

Thanks,
Fabien

[2016-03-01 00:03] fnicollet commented on #31
Hello,

I cannot reproduce this issue:
https://jsfiddle.net/fnicollet/kqudg19m/

Do you see errors in the console when you zoom out? It might be related to #27 . If so you can just fix the issue by replace gl.update by gl._update in mapbox-gl-leaflet code

[2016-03-01 01:11] tmcw commented on #4
The plugin cdn is a repo at https://github.com/mapbox/mapbox.js-plugins and has no magic; it's just a repo that gets pushed to our CDN sporadically.

[2016-03-01 08:39] fnicollet commented on #4
Thanks @tmcw .
So I guess you need to be a Mapbox contributor to have the right to push on this repo (last added plugin was leaflet-draw, added by a Mapbox employee).
Is Mapbox willing to host this project even it was marked as experimental?

Fabien

[2016-03-01 09:05] mourner commented on #4
@fnicollet BTW, you also get a CDN hosting for free with https://npmcdn.com/ if you publish to NPM.

[2016-03-01 09:11] fnicollet commented on #4
Thanks @mourner.
The Rawgit CDN works pretty well with no setup for the current master, only problem that you don't get versioning.
The NPM CDN looks like the logic solution, I don't have any experience with publishing to NPM but I'll look into it once we github release a leaflet-0.7.x compatible version with @patrickarlt

[2016-03-01 23:23] danswick commented on #31
Hi @fnicollet. Thanks for digging into this. I'm not able to reproduce this issue anymore, either. Looks like this is good to close!

[2016-03-01 23:23] #31 closed

[2016-03-11 20:58] anncerr100 opened #38 "not working with leaflet v1.0.0-beta.2"
Will this on the road map to make it compatible with leaflet v1? thanks!

[2016-03-12 01:08] jgravois commented on #38
changes to support leaflet `1.0.0-beta.2` were merged in #34.  are you seeing problems when pointing at `master`?

[2016-03-17 14:02] glathoud opened #39 "zoom animation of an empty map"
## Issue

In the demo:
https://github.com/mapbox/mapbox-gl-leaflet/tree/master/examples/basic.html

the zooming animation works fine. However, if I remove the marker, that is, if I remove those lines:
[code]
then zooming happens without animation, although `map.options.zoomAnimation` is set.

## Possible explanation

I guess this is related to the test in leaflet 0.7.3:
[code]
which returns `false

[2016-03-17 14:05] glathoud commented on #39
...and by the way many thanks for the plugin!

[2016-04-01 13:38] tyrasd opened #40 "mapbox-gl layer washishes when combined with tileLayer in same map"
In Chromium 49 and Firefox 45, when mixing traditional tile layers with a mapbox-gl layer, the gl layer vanishes as soon as one pans the map: https://jsfiddle.net/1rghvfh3/ (a workaround of this bug would be to hardcode a negative `zIndex` in the options of the tileLayer)

This is because of the way a dynamic `zIndex` gets [assigned](https://github.com/Leaflet/Leaflet/blob/master/src/layer/tile/Gr

[2016-04-01 13:58] fnicollet commented on #40
Thanks for reporting this bug,

What if you modify mapbox-gl-leaflet and extend GridLayer instead of Layer? Or maybe just copy the _setAutoZIndex, bringToFront and bringToBack function into it?

Thanks,
Fabien

[2016-05-23 06:22] mahendra-sonwane opened #41 "On Zoom, the plotted markers show a bit of delay to position themselves."
Hi,
I have plotted few markers on map with the library. When i zoom into the map, the markers show a delay in re-positioning themselves at the right place.However , that's not the case when we do the same using leaflet or mapbox.js. How can i eliminate the delay and show a non-delayed transition on zoom in/ zoom out.

[2016-05-23 07:17] fnicollet commented on #41
Hello,

The difference between lealfet/mapbox.js and mapbox-gl-js+mapbox-gl+lealfet
is that the former use image tile, which are part of the map while the
latter uses a combination of html and webgl. Both don't have the same
"refresh rate" which can make things out of sync.
There has been improvements lately about it on the "leaflet-master" branch,
which is only compatible with leaflet 1.0 and not

[2016-06-07 14:12] tmcw commented on #4
Yeah, let's use `npmcdn`.

[2016-06-07 14:12] #4 closed

[2016-06-13 18:38] reyemtm commented on #25
Pushing the click event can work - see below, with click: true added as an option inside L.mapboxGL. However I am having trouble creating a polygon from the returned glData (stored as a global variable in leaflet-mapbox-gl.js). I can create one polygon, but for some reason once I turn the glData into a polygon in leaflet, the glData doesn't change. Plus it seems the geometry stored inside the tile

[2016-06-14 09:20] fnicollet commented on #25
Hello,

To answer @bwyss question, the glMap "click" event is not triggered as leaflet will "catch" it first before it even comes in the mapbox-gl-js layer.
But the solution is rather simple. You need to listen to the click event on the leaflet map, and when you catch it, just query the glMap using queryRenderedFeatures (featuresAt has been deprecated):

[code]

@reyemtm About your example, there

[2016-06-14 09:20] #25 closed

[2016-06-14 14:30] reyemtm commented on #25
Your code returns all the features in the viewport, at least for me. Adding the following below gets back just the feature at the clicked point, until you pan the map that is, then weird things start to happen, so maybe this is not right. My previous method still works - at least for one layer - though I now see you don't need the interactive options.

[code]

[2016-06-14 14:35] fnicollet commented on #25
I guess mapbox-gl-js probably works in pixel coordinates (depending on the viewport) so e.layerPoint from the Leaflet event sounds like the best bet. Or maybe get the coordinates via e.originEvent from the leaflet event. Not sure, it needs some trial and error for sure :)

[2016-06-28 07:59] lamuertepeluda opened #43 "Support Bearing and Pitch parameters"
Hi there,

while playing with this amazing library I found out that MapBoxGL **bearing** and **pitch** parameters are not well supported (also setting _zoom_ causes the same troubles but that does not really make sense since we set the zoom level in the map constructor).

Looking at the plugin class constructor, it appears that all parameters are passed to the underlying MapBoxGL map instance (`ma

[2016-06-28 08:25] fnicollet commented on #43
Hello,

It is actually in the readme of the leaflet-master branch, in "Motivation" (
https://github.com/mapbox/mapbox-gl-leaflet/blob/leaflet-master/README.md),
it is said that this plugin comes with some drawbacks, including the fact
that there would be no rotation because leaflet doesn't support.
Bearing/pitch are not supported for the same reasons, so I updated the
readme

Fabien

On Tue, Jun 2

[2016-06-28 08:37] lamuertepeluda commented on #43
I see but couldn't be this considered as a feature request for next releases? I mean isn't there any transformation matrix or magic trick to reposition the markers correctly taking rotation and/or pitch into account in the update function?

In MapBoxGL JS the main problem is that the markers use that awful binary format (which I'm sure it has some good technical reason to exist) which is unpractic

[2016-06-28 08:56] fnicollet commented on #43
Yes, it can be considered a feature request, that's why this issue will stay opened.

Transformation matrix/magic tricks will be tough ones, but you are welcome to try :)

[2016-08-08 14:04] EreMaijala opened #45 "Tile positioning shifts when zooming out enough"
With http://cdn.rawgit.com/mapbox/mapbox-gl-leaflet/leaflet-master/examples/basic.html, zoom out enough and the tiles suddenly shift down and the marker is displayed in wrong position. Tested with Chrome 52 and Firefox 48 on Mac OS X.

[2016-08-08 14:08] EreMaijala opened #46 "With the leaflet-master version, initially zooming in or out causes a TypeError"
With Firefox 48, open the basic example and zoom in or out. The following error is recorded:
TypeError: t is undefined

Stack:
o.Point.prototype._subtract()
leaflet.js:5
o.Point.prototype.subtract()
leaflet.js:5
L.MapboxGL<._animateZoom()
leaflet-mapbox-gl.js:164
o.Evented<.fire()
leaflet.js:5
._animateZoom()
leaflet.js:9
._tryAnimatedZoom/<()
leaflet.js:9
bound ()
self-hosted
openTabPrompt()
nsPr

[2016-08-09 06:15] EreMaijala opened #47 "Zooming is jerky with Leaflet 1.0.0-rc3"
Using leaflet-master branch with Leaflet 1.0.0-rc3, zooming in or out is jerky. Looks like the map flashes in a wrong position before settling on the proper view. This can be reproduced with the basic example just by pointing to leaflet@1.0.0-rc.3 instead of beta 2. Tested with Chrome 52 and Firefox 48 on Mac OS X.

[2016-08-09 06:35] EreMaijala commented on #47
The problem is apparent already with Leaflet 1.0.0-rc1, so it seems something has changed between beta2 and rc1 to cause this.

[2016-08-09 07:44] EreMaijala commented on #47
I digged a bit more, and it seems the problem started with Leaflet/Leaflet@e083d41ff797a70555711b7d599da7d38c13a832

[2016-08-11 09:58] fnicollet commented on #47
Hello Ere and thanks a lot for reporting these issues and even finding the
root of the issue,

I am currently abroad with no access to my laptop for a few more days but
i'll have a look at these issues when I get back!

Fabien

Le 9 août 2016 09:44, "Ere Maijala" <notifications@github.com> a écrit :

[2016-09-21 23:25] fnicollet commented on #45
Finally getting a little time to try and fix those issues ...
This one is actually the same issue as one of my other project:
https://github.com/fnicollet/Leaflet/issues/1
at zoom 0/1, the top/left corner coordinates is outside the "world boundaries" and gets clamped, which produce an offset.
This has been fixed by @IvanSanchez in this commit on Renderer.js:
https://github.com/Leaflet/Leaflet/comm

[2016-09-22 22:35] fnicollet commented on #46
Thanks for reporting that issue. That was exactly it, this is now fixed

Fabien

[2016-09-22 22:35] #46 closed

[2016-10-09 11:23] fnicollet commented on #38
Closed as mapbox-gl-leaflet now works with leaflet v1 in master

[2016-10-09 11:23] #38 closed

[2016-10-09 12:22] fnicollet commented on #24
@musicformellons If you still need an answer to this issue, please check out the code example in https://github.com/mapbox/mapbox-gl-leaflet/issues/36

[2016-10-09 12:22] #24 closed

[2016-10-09 12:29] fnicollet commented on #39
Looks like it was fixed with leaflet 1.x, if you are still having this issue, can you try again please ? Re-open the issue if still a problem

[2016-10-09 12:29] #39 closed

[2016-10-09 12:33] fnicollet commented on #41
Closing as new version from master has a way better sync between leaflet and mapbox-gl, try it with leaflet 1.x

[2016-10-09 12:33] #41 closed

[2016-10-12 09:02] glathoud commented on #39
Yes, it is working fine with leaflet 1.0.1, thanks.

[2016-10-12 09:03] fnicollet commented on #39
Great, thanks for your feedback!

[2016-12-03 13:35] #47 closed

[2016-12-06 23:59] jesse-a-reilly opened #51 "_gl.resize is undefined"
Hi,
The most recent commit includes on lines 149 - 153:
[code]

This returns true when gl._resize is a function OR if it is undefined.
Suggest changing it to:

[code]

Suggested change works in Chrome with leaflet 1.0.2 and mapbox gl 0.25.1

[2016-12-07 00:01] fnicollet commented on #51
Sounds fair, i'll make the edit right away

[2016-12-07 00:01] #51 closed

[2017-01-11 11:52] flowfyre opened #52 "Error: Failed to initialize WebGL(…)"
The demos ecounted Error: Failed to initialize WebGL(…)

evented.js:91Error: Failed to initialize WebGL(…)Evented.fire @ evented.js:91
3map.js:346Uncaught TypeError: Cannot read property 'resize' of undefined
48map.js:346 Uncaught TypeError: Cannot read property 'resize' of undefinede.resize @ map.js:346e._onWindowResize @ map.js:1187

Any Idea?

[2017-01-11 11:58] #52 closed

[2017-01-13 05:07] jeffschuler opened #53 "Panning remains disabled after double-click zoom"
Quickly reproducible in the [example provided in the project](http://rawgit.com/mapbox/mapbox-gl-leaflet/master/examples/basic.html):
Double-click to zoom, then drag to pan. Tiles that were outside the viewport are not drawn.

If I switch to Leaflet's current master branch this still happens, but less frequently.

[2017-01-13 18:38] jeffschuler commented on #53
Because doubleClickZoom is not animated, `_transitionEnd()` is not called. Therefore, `this._zooming = false;` is not reached and panning remains disabled.

Moving the setting of `this._zooming` into `_zoomEnd()` (instead of `_transitionEnd()`) solves this. `zoomEnd()` is called by `_transitionEnd()`, so animated zooms still work the same way.

#54

[2017-01-13 18:44] jeffschuler commented on #53
In fact, I'm unclear on why this is necessary at all:
[code]

`_zoomEnd()` is being called already. With this it's called twice at the end of each animated zoom.

[2017-01-13 19:25] fnicollet commented on #53
Hello and thanks for your help on this!

The code has been changed quite a few times recently. I believe this had to do with the touch interaction (pinch in/out or during a pan) and reset the mapbox-gl layer once the transition has finished

Did you try your fix on a touch device?

Fabien

[2017-01-13 20:19] fnicollet commented on #53
Well, I can confirm that your PR indeed fixes the double-click issue, thanks!
I believe the second this._zoomEnd(); call is just for some cases, calling it twice shouldn't be an issue

[2017-01-13 21:32] jeffschuler commented on #53
Thanks Fabien!

I've been trying this on an iPhone and with the iOS Simulator on Mac. The fix solves my issue there.

I've noticed a different issue in testing on a touch device, though, that -- again, in the project's basic example -- by zooming in and out a few times I can get the marker to lose its position and not return. I haven't nailed down an exact sequence yet, but it's not hard to see by

[2017-01-13 22:39] fnicollet commented on #53
Yes that kind of behaviour happened in the past but it is very hard to
reproduce as it is probably a transition/event issue.
If you can reproduce it, please open another issue, in the meantime, this
issue can probably be closed

Le 13 janv. 2017 22:32, "Jeff Schuler" <notifications@github.com> a écrit :

[2017-01-13 22:47] jeffschuler commented on #53
Got it. Thanks!

[2017-01-13 22:47] #53 closed

[2017-01-27 15:38] jdeboer-geoplan opened #55 "map scroll very juddery in IE11"
Hi,
I seem to have an issue with drag scrolling in IE11.  It looks fine in chrome, I don't know about any others.  The zoom is perfectly smooth.  You can see it in the basic example.

[2017-01-27 16:10] fnicollet commented on #55
Hello,

Yes, that's a known issue ... mapbox-gl-leaflet tries to do a lot of hacky
stuff to "sync" the leaflet map and the webgl map. So it regularly calls
for "update" on the gl map, which might be when it lags, IE being in the
middle of a webgl render cycle.
There is probably a way to make it better, if you can have a look at it

Fabien

On Fri, Jan 27, 2017 at 4:38 PM, jdeboer-geoplan <notifica

[2017-01-27 16:27] jdeboer-geoplan commented on #55
Hi, right I've probably got time to have a mess around with it.  Can you give me any pointers on where to start?
Thanks,
James

[2017-01-27 16:30] fnicollet commented on #55
I would start by changing the updateInterval
https://github.com/mapbox/mapbox-gl-leaflet/blob/master/leaflet-mapbox-gl.js#L3
to a larger value, see if the lag is less present.
Then I would add some log here:
https://github.com/mapbox/mapbox-gl-leaflet/blob/master/leaflet-mapbox-gl.js#L123
See how many times it passes in this.

Fabien

On Fri, Jan 27, 2017 at 5:27 PM, jdeboer-geoplan <notifications

[2017-01-27 16:57] jdeboer-geoplan commented on #55
hmm, this is fun.  updateInterval of 50 judders so much I feel sea sick. UpdateInterval of 5 is as smooth as chrome. Why is the update throttled?  I'm still trying to get my head around what I've logged out but it might be that the throttling is getting out of sync, I'll look again on Monday.
Thanks for your help!

[2017-01-27 19:11] fnicollet commented on #55
There is a little history with all this code.
In the beginning, a call to gl.update() was made on every leaflet "move" event. Which was working but lagging as we were basically telling mapbox-gl to render too often.
So @patrickarlt introduced a debounce on the move event:
https://github.com/mapbox/mapbox-gl-leaflet/commit/86ac39d7bcf2d6078b7642971bd6d0b8bac0a3e8

From one of his comment, changing

[2017-02-20 14:56] anazar2001 commented on #55
Actually I have a problem with scrolling even in Chrome, if i move map to the left quickly, the right side of the screen is blinking with grey artifacts.

Also when i try to zoom in by double click on the map, then it zooms just a little bit, much less then in mapboxgl or mapboxjs.

[2017-03-08 15:00] emacgillavry opened #56 "Release and package.json for Leaflet 1.0"
Trying to use npm to get this package, I get the version compatible with Leaflet v.0.7. Could you please create a new release and advertise in package.json so this can be used for Leaflet 1.0?

[2017-03-08 15:06] fnicollet commented on #56
Hello,

There was a thread about it a long time ago:
https://github.com/mapbox/mapbox-gl-leaflet/issues/4
But since then, nothing was done
I'll see what I can do tonight (i'm not really good with npm stuff, @tmcw did the first publish, see https://github.com/mapbox/mapbox-gl-leaflet/issues/8)

Fabien

[2017-03-08 15:09] fnicollet commented on #56
Can I even send the updated package if I wasn't the one who uploaded v0.0.1 in the first place ? See
https://docs.npmjs.com/getting-started/publishing-npm-packages

[2017-03-08 15:16] emacgillavry commented on #56
Thnx! Happy to do some testing if necessary.

[2017-03-08 17:32] jgravois commented on #56
yes, but either @tmcw or someone else with the appropriate permissions just needs to add you as a package [owner](https://docs.npmjs.com/cli/owner)/collaborator.

i tried pinging @lyzidiamond [back in june](https://github.com/mapbox/mapbox-gl-leaflet/pull/34#issuecomment-225939324) for help granting permissions to take over maintenance of this project (as per @mourner), but i never heard back from

[2017-03-08 17:43] fnicollet commented on #56
Ok, tried to reach @tmcw via twitter, let's wait and see

[2017-03-08 17:48] fnicollet commented on #56
ahaht thought you might have muted your github notifications, you must have quite a lot :)
i'll try and do the release now, thanks!

[2017-03-08 17:55] fnicollet commented on #56
Looks like 0.0.2 published alright:
https://www.npmjs.com/package/mapbox-gl-leaflet

@emacgillavry can you give it a go when you have time?

[2017-03-08 18:18] emacgillavry commented on #56
Nice one! Thnx a bunch. Commuting home right now, but will give it a go
later tonight. Otherwise, hit me on the twitters...

Op 8 mrt. 2017 18:55 schreef "Fabien NICOLLET" <notifications@github.com>:

[2017-03-08 20:16] emacgillavry commented on #56
Just upped the version in my package.json and I'm getting the new code in with an `npm update`. Webpack bundled it up and a working build is running in the browser. Many thanks again. Issue can be closed I reckon.

[2017-03-08 20:34] fnicollet commented on #56
Great, thanks everyone!

[2017-03-08 20:34] #56 closed

[2017-04-18 11:46] alastair-todd opened #59 "Fractional zoom support"
I understand this is mentioned in the readme, I am just trying to understand:

1) why it is not supported (since both leaflet and mapbox-gl support it)
2) what it would take (by me?) to add support.

Leaflet's API is explicit about fractional zoom, there are two map options called `zoomDelta `and `zoomSnap `in the code.

Thoughts please? Thank you.

[2017-04-18 11:52] fnicollet commented on #59
Hello,

It wasn't supported since this library was for leaflet 0.7.x originally, which didn't have fractionnal zoom. Master is now for leaflet 1.x, so I guess it is possible to implement it properly.

The "sync" is done in the "update" function:
https://github.com/mapbox/mapbox-gl-leaflet/blob/master/leaflet-mapbox-gl.js#L152

Simply taking the current leaflet zoom (minus one as they don't have th

[2017-04-18 11:56] alastair-todd commented on #59
Thanks for the quick reply. Yes hopefully it *should* just work looking at that code. I will test it out and report back.

[2017-04-18 13:43] alastair-todd commented on #59
Hello

That's an affirmative - working as it should :)

[2017-04-18 13:47] fnicollet commented on #59
Great, I changed the readme :)

Thanks!
Fabien

[2017-04-18 13:47] #59 closed

[2017-04-19 10:30] IsaacHub opened #60 "Broken link in jsfiddle external resource"
The jsfiddle [https://jsfiddle.net/fnicollet/9w9er53v/](https://jsfiddle.net/fnicollet/9w9er53v/) you provided, has an obsolete external resource `https://cdn.rawgit.com/mapbox/mapbox-gl-leaflet/leaflet-master/leaflet-mapbox-gl.js`. This link is dead..

Update the jsfiddle by removing the mentioned dead link and replace it with the following working link:
`https://rawgit.com/mapbox/mapbox-gl-leafl

[2017-04-19 10:33] fnicollet commented on #60
thanks, updated the jsfiddle

[2017-04-19 10:33] #60 closed

[2017-04-21 14:08] IsaacHub opened #61 "MapboxGL's methods not working"
The main goal of `leaflet-mapbox-gl.js` is to make leaflet methods to work along with mapboxGL, but now mapboxGL's methods seem to be obsolete, and not working.

I have included `leaflet.js`, `mapbox-gl.js`, `leaflet-mapbox-gl.js`

[code]

Now, **map.addSource** not working..   `Uncaught TypeError: map.addSource is not a function`..
What is the alternative in leaflet or mapbox or How to make it wo

[2017-04-21 14:27] fnicollet commented on #61
Hello,

mapbox-gl-leaflet is a project to add a mapbox-gl map as a leaflet layer. It does not transform a leaflet map into a mapbox-gl map, the "map" object is still a leaflet map. If you want to access the mapbox-gl map, you can get it via the "L.mapboxGL" object, see the code:
https://github.com/mapbox/mapbox-gl-leaflet/blob/master/leaflet-mapbox-gl.js

So something like
[code]
Fabien

[2017-04-22 10:23] IsaacHub commented on #61
`gl._glMap` works.. This is what We have been looking for. The owner should have mentioned it in readme or the main page in github. Already mentioned how to initialize mapboxGL, but should have mentioned about `gl._glMap`..  Without mentioning this, there is no use.. people are wondering and searching for solutions wasting time on the internet.

[2017-04-22 10:23] #61 closed

[2017-04-22 12:26] fnicollet commented on #61
It's true that it's not obvious if you don't read the source code. I added a mention in the readme

[2017-04-22 14:04] jgravois commented on #61
@IsaacHub you can catch more 🐛 with 🍯 than vinegar.

[2017-06-01 21:08] landonreed opened #63 "Usage with third party tiles"
According to this [support article](https://www.mapbox.com/mapbox-gl-js/example/third-party/), you can use mapbox-gl with third party tilesets (e.g., Mapzen).  Presumably, you wouldn't need a Mapbox `accessToken` in this case because you're not making any Mapbox API calls.  However, `mapbox-gl-leaflet` chokes if the `accessToken` is not supplied (it will work though if you provide a nonsense strin

[2017-06-01 21:10] fnicollet commented on #63
Hello,

Yes, this is what is stated in the readme, you just have to pass any string as a token so that the library plays nice with you:
https://github.com/mapbox/mapbox-gl-leaflet

Fabien

[2017-06-01 21:10] #63 closed

[2017-06-02 14:01] landonreed commented on #63
Ah, thanks for that. Apologies for glossing over.

[2017-08-08 07:38] thunder39 commented on #45
Having this issue as well! Also when I zoom out and then click on a clustermarker the map sometimes doesn't load at all or the markers are offset a bit.
Is there any discussion on integrating mapbox-gl-leaflet into leaflet core?
Let me know if there's anything I can help?

[2017-08-10 09:48] fnicollet commented on #45
Hello,

There is no discussion about getting it into core,and it will very probably
never be. This project is not officially supported by Mapbox anymore and
will stay a standalone plugin

Fabien

Le 8 août 2017 17:38, "thunder39" <notifications@github.com> a écrit :

[2017-08-10 15:48] thunder39 commented on #45
Thanks for you answer.

Here's a screenshot with the issue from the cluster example. I believe it's exactly the same as mentioned by @EreMaijala .
<img width="601" alt="clustermarker_bug" src="https://user-images.githubusercontent.com/29595100/29179142-dda55c7a-7df3-11e7-8c85-2e341b67d697.png">

If you click on a cluster which is far away, the map doesn't load completely and the markers are offset

[2017-08-29 06:45] JAugustusSmith opened #65 "Typings for mapbox-gl-leaflet"
I'm using this in angular to add leaflet-draw to mapbox-gl ( I need the circle control)
Are there any Typescript typings for this so I can use it in Angular?

[2017-08-29 06:51] fnicollet commented on #65
Hello,

There is no TS typings available, sorry

Fabien

[2017-09-04 05:55] JAugustusSmith opened #66 "Clicking on Mapbox gl popup triggers the map click event."
I've added a popup to the underlying mapbox gl map.
The onclick event for the map still fires because I assume it's hitting the container.
Is there a work around?

[2017-09-04 06:41] fnicollet commented on #66
Hello,

Not sure if there is a way to prevent it. Anything interesting in the event's properties (target, relatedTarget, etc.)?

[2017-09-04 06:51] JAugustusSmith commented on #66
No, it's picking up the leaflet container.
I worked around it by changing it from a mapbox gl popup to a leaflet popup, and adding it to the wrapping leaflet map

[2017-09-28 16:07] gregallensworth opened #67 "Layer instances do not respect 'pane' option"
The created Layer is always placed into the Map's **tilePane**
https://github.com/mapbox/mapbox-gl-leaflet/blob/master/leaflet-mapbox-gl.js#L73
https://github.com/mapbox/mapbox-gl-leaflet/blob/master/leaflet-mapbox-gl.js#L90

Ideally, this being a L.Layer subclass it could call `getPane()` to use a pane specified in the constructor.

[2017-09-28 19:12] #67 closed

[2017-11-13 03:55] zhali commented on #40
hi, @fnicollet , i meet the same issue, and i modify L.MapboxGL = L.GridLayer.extend, the zIndex seemingly effective，but the raster tile layer is not see when the map is init, zoom out and zoom in can not appear，but pan the map, it apear ，i try use redraw  to solve this issue ,can not work ,any suggestion?
thank you

[2017-12-02 18:43] Razoralpha commented on #45
Any progress about the shifting issue? It would be more or less perfect if this issue would be gone.

[2017-12-20 22:34] shelkie commented on #45
I was running into this issue as well, and managed to resolve it by calling the _update method on the GL layer whenever the map is zoomed.
[code]

[2018-01-05 20:01] jgravois opened #69 "allow loading vector tile layers from portal"

[2018-01-05 20:01] jgravois commented on #69
sorry, wrong repo.

[2018-01-05 20:01] #69 closed

[2018-03-06 09:45] sudipbarman1 opened #70 "mapbox-gl-leaflet for ofline"
Hi All,
Using leafletJs MBTiles (png type) able to make a offline map application. But now requirement is to read pbf file for offline.
For that I need to use some extension and choose mapBoxGl for that. If we use JSON source as online it is working perfectly, but if we download the JSON files and redirect all resources to device only. we are getting one error
Uncaught Error: sources.layers: "type

[2018-03-08 12:17] SegFault0x0 commented on #70
I've done it using tileserver-gl-light to serve my mbtiles file.  How are you implementing your solution and where are you seeing this error?

[2018-03-09 05:55] sudipbarman1 commented on #70
Thanks Seg,
That issue is ultimately resolve.
We are using [LeafletJs](https://github.com/Leaflet/Leaflet) and extension [Map Box GL](https://github.com/mapbox/mapbox-gl-leaflet) to read pbf file and applying styles on it on the fly.

[2018-03-09 19:15] SegFault0x0 commented on #70
Yes, I used Leaflet and mapbox-gl-leaflet as well, but I served my tiles/leaflet read them from tileserver-gl-light.  Glad to hear you fixed it!

[2018-03-22 17:50] fabianrimann opened #71 "L.latLngBounds() leaves grey area after map move"
Note sure if this is a MapboxGL issue, or Leaflet issue, or `mapbox-gl-leaflet` issue.

How to reproduce:
1. Visit <https://jsfiddle.net/c436nmmx/>
2. Move the map **up a little bit**
3. In the top right corner of the map, click "click me" div
4. After the map changes location/bounds, you'll see that the map leaves grey areas:

![sn](https://user-images.githubusercontent.com/35880495/37788334-66ae

[2018-03-22 20:01] zhen1991 commented on #70
Hi
I am using Mapbox GL with leaflet and I am wondering how to to add my own map I will be perciate if any one can help me :)
Thnx :)

[2018-03-23 04:46] sudipbarman1 commented on #70
In Source layer (v3.JSON) type property was missing due to that reason, my error was showing. I added that and it is started working.

Thanks,
Sudip Barman

[2018-03-23 04:46] #70 closed

[2018-03-23 15:05] vince1995 commented on #71
Duplicate of [#45](https://github.com/mapbox/mapbox-gl-leaflet/issues/45).

Try
[code]

[2018-03-23 22:25] fabianrimann commented on #71
Thanks for the answer @vince1995 👍

[2018-03-23 22:26] #71 closed

[2018-03-27 08:12] zhen1991 opened #72 "how to add your map in mapboxgl js where i can write my http ??"
i am using leaflet-mapbox-gl.jsand dont know where to add my map inside the code ??
can any one help me:)
my code look like that
<link rel="stylesheet" href="leaflet.css" />
<script src="leaflet.js"></script>
<script src="leaflet-mapbox-gl.js"></script>

<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.3/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox

[2018-04-19 09:43] agorshkov23 commented on #65
I created this and now they're on code review
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/25120

[2018-07-04 09:38] wadouk commented on #72
Is it what you try to do ?

[code]

[2018-07-16 02:45] hjrobinson opened #73 "Leaflet layer control fails to load tiles from style-cdn.json when beyond zoom level 18"
When zoomed beyond level 18 in a Leaflet map the tiles don't seem to load until the user executes a pan.  I did find a solution that works with geojson, but not vector tiles loaded from the style-cdn.json file.  In leaflet-mapbox-gl.js in the section beginning at line 95 below add the line of code to include throttleUpdate on an overlayadd event as follows:

 getEvents: function () {
            r

[2018-07-16 02:52] #73 closed

[2018-07-23 08:41] fiberbus commented on #72
I would guess that they want to know where they are to specify the source files, MBTiles?, for the map.

[2018-07-30 12:34] SegFault0x0 commented on #72
@zhen1991, if you're looking for where to add your MBTiles file -- as @fiberbus suggests -- it's referenced from within the style file (`bright-v9-cdn.json`).  If you follow the link to osm2's style file, you'll see this at the top of the page:
[code]
Their **url** points to their config file, which pulls PBF data via the tiles property in the format of `https://osm2vectortiles-0.tileserver.com/v2

[2018-08-08 00:10] polkchop opened #74 "this._map._proxy is undefined"
If you integrate this with webkit, react-leaflet and leaflet when closing the map it is throwing an error on Line 75.

`L.DomEvent.off(this._map._proxy,` L.DomUtil.TRANSITION_END, this._transitionEnd, this);

this._map._proxy is undefined because in leaflet.js it removes the animation proxy right before removing the layers.

[2018-08-14 12:26] maptechnica opened #75 "L.tileLayer will not draw if L.mapboxGL layer exists"
I've tried this a million different ways, but no matter what I try, I cannot get the two layers to draw together.  I need to draw the base map using L.mapboxGL.  Then I draw a polygon (e.g. a ZIP code boundary) over that.  No problem. Shows up fine.  But then I draw all surrounding borders (e.g. ZIP codes) using a custom MBTiles layer from my own server.  I can get either the GL layer or the tiles

[2018-08-14 15:10] jgravois commented on #75
it's possible to incorporate specify a raster tile source _within_ a [`mapbox-gl style`](https://www.mapbox.com/mapbox-gl-js/style-spec/#sources-raster).

[2018-08-14 16:39] maptechnica commented on #75
Thanks for the suggestion.  Unfortunately, I can't seem to get this approach to work.

I'll need to find another solution.  It really shouldn't be this hard.  I appreciate the help.

[2018-08-16 20:00] cjaoude opened #76 "Error: Failed to initialize WebGL"
Using the provided sample code as provided here, https://www.mapbox.com/mapbox-gl-js/api/

I'm getting the following error. Can't quite figure out why the WebGL won't init. I've enabled the draft extension in Chrome as well. Help appreciated, tnx.

[code]

Chrome (latest), macOs (10.12.6). Laravel 5.6. MacBook Air (mid-2011).

[2018-08-19 08:41] fogfish opened #77 "gl tile layer crashes with webkitTransitionEnd event"
The issue is reproducible when you are using the gl layer in react base application together with
[react-leaflet](https://github.com/PaulLeCam/react-leaflet).

It crashes with following error when component is destroyed:

[code]

The original [TileLayer](https://github.com/PaulLeCam/react-leaflet/blob/master/src/TileLayer.js) works as expected.

It is hard to say what component is root cause. Howe

[2018-08-31 12:06] #77 closed

[2018-09-06 22:51] vsashidh opened #79 "Missing map image from the generated canvas"
When extracting the image from the canvas produced by `L.mapbox-gl`, the image is blank. I have created a test case for this issue.

Steps to reproduce the issue:

1. Load the provided HTML in the browser.
2. Click the link in the bottom right corner named: `download image` for downloading the map image.

Here is the code to reproduce this issue:
[code]
### Expected Behavior
Downloads a map image

[2018-09-19 04:42] chloekraw commented on #76
Hi @cjaoude - have you checked whether hardware acceleration is turned on in Chrome? See: https://github.com/mapbox/mapbox-gl-js/issues/4679#issuecomment-406581555 and https://stackoverflow.com/questions/37189961/how-to-get-mapbox-gl-js-webgl-opengl-to-work-on-ubuntu-chrome

[2018-09-20 18:17] polkchop commented on #74
Thanks for the comment... we had pull the file in directly and made a similar change.  We will attempt to install to the commit and test.

[2018-09-20 18:17] #74 closed

[2018-09-27 11:38] nishantkmr commented on #71
I am getting error TypeError: Cannot read property 'containerPointToLayerPoint' of undefined.
this._map is undefined.
var gl = L.mapboxGL(...).addTo(map);
gl instance doesn't have a _map property.

[2018-09-27 11:38] nishantkmr commented on #45
I am getting error TypeError: Cannot read property 'containerPointToLayerPoint' of undefined.
this._map is undefined.
var gl = L.mapboxGL(...).addTo(map);
gl instance doesn't have a _map property.

[2018-10-05 20:33] chwahab opened #80 "L.MapboxGL not supporting bringToFront() bringToBack() functions ?"
gl = L.mapboxGL({
                                style: data,
                                accessToken: 'no-token',
                                pane : 'overlays'
                            });
gl.addTo(map);
gl.bringToFront();

[2018-10-05 20:34] chwahab commented on #80
If Support , please guide me

[2018-10-25 20:36] akshay-entytle commented on #71
Having a similar issue. Zooming out to zoom levels < 4 are causing 2 problems:
1. Grey area starts appearing on the top
2. Labels shift away from their actual position.

I've implemented `mapbox-gl-leaflet` with `react-leaflet` and rendering markers using `react-leaflet-markercluster`.

<img width="663" alt="screen shot 2018-10-26 at 2 03 01 am" src="https://user-images.githubusercontent.com/40161

[2018-10-25 20:39] akshay-entytle commented on #71
Having a similar issue. Zooming out to zoom levels < 4 are causing 2 problems:
1. Grey area starts appearing on the top
2. Labels shift away from their actual position.

I've implemented `mapbox-gl-leaflet` with `react-leaflet` and rendering markers using `react-leaflet-markercluster`.

<img width="663" alt="screen shot 2018-10-26 at 2 03 01 am" src="https://user-images.githubusercontent.com/40161

[2018-10-25 20:41] akshay-entytle opened #81 "Zooming out causes grey area and label position change"
Having an issue while zooming out. Zooming out to levels < 4 are causing 2 problems:
1. Grey area starts appearing on the top
2. Labels shift away from their actual position.

I've implemented `mapbox-gl-leaflet` with `react-leaflet` and rendering markers using `react-leaflet-markercluster`.

<img width="663" alt="screen shot 2018-10-26 at 2 03 01 am" src="https://user-images.githubusercontent.com

[2018-10-25 20:42] akshay-entytle commented on #71
Facing something similar [#81](https://github.com/mapbox/mapbox-gl-leaflet/issues/81)

[2018-11-01 08:41] paulnebel opened #82 "Panning then zooming gives incorrect tile offset"
I'm using leaflet.markerCluster with mapbox-gl-leaflet.  If I click on a cluster without panning the map zooms to that cluster and is rendered correctly.  If, however, I pan first then click on a cluster the map is rendered with an offset which results in a grey area:

![leafleterror](https://user-images.githubusercontent.com/2972038/47841516-c17dd800-ddb1-11e8-8902-7319a9ad1add.png)

I have fixed

[2018-12-04 22:08] sebastianovide commented on #76
I have the same problem in cordova (android)...

[2018-12-13 12:53] vomatec opened #84 "Release planned?"
A lot of PR with fixes have been merged since the last release in Apr 2017. Do you plan to release a new version?

[2018-12-13 13:00] fnicollet commented on #84
Hello,

Not really maintaining this project anymore, so it might be best for you to
make your own build version (it's pretty straightforward)

Fabien

Le jeu. 13 déc. 2018 13:53, Vomatec Innovations <notifications@github.com>
a écrit :

[2018-12-20 18:25] vomc opened #85 "Getting lots of errors along the lines of "X expected, array found""
Hi,

First off - great work on this project! Very excited to use this!

I created a new style in Mapbox studio and am trying to integrate it but I am getting tons of errors on nearly every entity. Every time the errors are in the form where it was expecting a single value but got an array... Is there something I missed?

`map.js:848 Error: layers[22].paint.text-color: color expected, array found`

[2018-12-20 18:48] jgravois commented on #85
i don't know how, but whatever you're doing in Mapbox Studio is creating invalid style json.

* [`text-color`](https://www.mapbox.com/mapbox-gl-js/style-spec/#paint-symbol-text-color)
* [`text-size`](https://www.mapbox.com/mapbox-gl-js/style-spec/#layout-symbol-text-size)
* [`text-field`](https://www.mapbox.com/mapbox-gl-js/style-spec/#layout-symbol-text-field)

[2018-12-20 20:20] vomc commented on #85
Yeah that's odd because this is just a style I made in mapbox studio. So I am guessing this does not support styles created in Mapbox Studio?

[2019-02-08 20:17] Rapid0s commented on #71
I am also having the same problem

[2019-02-27 08:47] brucem1976 opened #86 "onRemove() seems to cause null reference issues"
UPDATE: I see this was actually fix as suggested below, it just hasn't been released on npm - so no need to comment

I've just started using L.mapboxGL to create a <MapBoxGLLayer /> instead of a <TileLayer /> in my map. Everything's rendering beautifully, but I'm httting issues when the map component unmounts - meaning it must be working differently from TileLayer (which never caused unmount issue

[2019-02-27 08:57] brucem1976 commented on #84
Any chance we can just do one more release of latest to npm? Or are you happy for me to clone and then release?

[2019-02-27 15:02] jgravois commented on #84
i just pushed a new tag on GitHub. i _thought_ i had permission to publish on npm too, but apparently not.

https://github.com/mapbox/mapbox-gl-leaflet/releases

@fnicollet, if you'd like to give me the 🔑s, i can take care of it.

[2019-02-27 15:38] fnicollet commented on #84
@jgravois Hello, can you remind me of how to do that please?

[2019-02-27 15:38] fnicollet commented on #84
@jgravois Can you remind me how it works to give you the 🔑 ? Been a long time...

[2019-02-27 15:42] fnicollet commented on #84
Added you as a maintainer on npmjs, let me know if that works out

[2019-02-27 15:55] jgravois commented on #84
thank you @fnicollet!

i'll try again in a little bit after npm's authentication server has a little time to clear its cache.

[2019-02-27 16:37] jgravois commented on #84
[`v0.0.4`](https://unpkg.com/mapbox-gl-leaflet@0.0.4/leaflet-mapbox-gl.js) has been published.

[2019-02-27 16:37] #84 closed

[2019-02-27 16:38] jgravois commented on #86
duplicate of #77

[2019-02-27 16:38] #86 closed

[2019-02-27 16:39] #65 closed

[2019-03-08 17:54] hefler commented on #75
A bit late here and I'm not sure if this is what your issue is, but I had (what I think) was a similar issue while trying to use my own vector tiles and a heatmap plugin. No matter what the tile layer would be on top of anything. I looking at the inspector I realised my other canvas was being place under the HTML node, no matter what I did (using `sendToBack()`, `sendToFront()`, `setZIndex()`) not

[2019-03-14 09:37] schulm opened #87 "Dependencies for leaflet and mapbox-gl in package.json missing"
To use this package as CommonJs module with browserify, dependencies to leaflet and mapbox-gl has to be added.

[2019-04-02 22:49] #87 closed

[2019-04-29 10:02] DanielRuf opened #90 "New release needed"
https://github.com/mapbox/mapbox-gl-leaflet/compare/v0.0.4...master

[2019-04-29 14:06] jgravois commented on #90
this needs fixed first.

https://github.com/mapbox/mapbox-gl-leaflet/pull/88#issuecomment-479336021

[2019-04-30 02:00] jingsam commented on #90
@jgravois see #91

[2019-05-01 23:02] jgravois commented on #90
https://github.com/mapbox/mapbox-gl-leaflet/releases/tag/v0.0.5

[2019-05-01 23:02] #90 closed

[2019-05-07 13:55] treba123 opened #92 "v0.0.5 NPM package contains git files"
First of all thanks for the great package.

The new release (v0.0.5) as released on npm contains something git related, making npm to fail with the following error on repeated/cached installs:
[code]

[2019-05-07 15:03] jgravois commented on #92
thanks for the report. resolved in https://github.com/mapbox/mapbox-gl-leaflet/commit/10a4ebb0ad64ba6962885abce86ccc101402c968 / [`v0.0.6`](https://github.com/mapbox/mapbox-gl-leaflet/releases/tag/v0.0.6)

[2019-05-07 15:03] #92 closed

[2019-05-07 15:54] treba123 commented on #92
Great, thanks!

[2019-05-14 13:32] andersonn-roberto opened #93 "Mapbox-gl-js queryRenderedFeatures not working."
Hi,

First, thank you for this plugin.
I'm trying to get a layer features by clicking on a polygon on map.
I'm using MapTiler vector tiles that brings the layer information with the map images, but I can't get the features related to some polygon.
I saw a closed issue that uses featuresAt function, but this function doesn't exists anymore.
Do you have some suggestions to get this working?

Thanks!

[2019-05-26 02:16] andersonn-roberto commented on #93
Hi,

After spending some time on MapBox-GL-Js directly I managed to get this plugin to work as expected.
If anyone have problem and want an example, just let me know.

Thanks!

[2019-05-26 02:16] #93 closed

[2019-06-11 12:24] DeveloperHashmi opened #94 "Error: Failed to initialize WebGL"
Error: Failed to initialize WebGL
    at r._setupPainter (map.js:1626)
    at new r (map.js:367)
    at add:1412
mt.fire @ evented.js:136
r._setupPainter @ map.js:1626
r @ map.js:367
(anonymous) @ add:1412
Uncaught Error: Failed to initialize WebGL.
    at new r (map.js:369)
    at add:1412
r @ map.js:369
(anonymous) @ add:1412

[2019-06-13 11:20] Joebgold commented on #70
Hey @SegFault0x0 do you have a repository or any information you could give as to how you managed to get mapbox-gl-leaflet reading from tileserver-gl-light. I've been working on a project to display vector maps in a Cordova application and currently have tileserver-gl-light running in nodejs in the background of the application. Now I just need to have mapbox-gl-leaflet grab, render and display th

[2019-07-01 15:23] jgravois commented on #94
this isn't enough information for anyone to help you.
at a bare minimum you need to provide a working example with the bare minimum amount of code to reproduce the error.

[2019-07-01 15:23] #94 closed

[2019-07-01 15:23] jgravois commented on #81
resolved in [`v0.0.7`](https://github.com/mapbox/mapbox-gl-leaflet/releases/v0.0.7).

[2019-07-01 15:23] #81 closed

[2019-07-01 15:27] #43 closed

[2019-07-01 15:28] jgravois commented on #43
this leaflet plugin is on life-support, no additional features are likely.

[2019-07-01 15:28] #26 closed

[2019-07-01 15:28] #40 closed

[2019-07-01 15:29] jgravois commented on #45
resolved via #95

[2019-07-01 15:29] #45 closed

[2019-07-01 15:29] #79 closed

[2019-07-01 15:29] #72 closed

[2019-07-01 15:30] #75 closed

[2019-07-01 15:30] #55 closed

[2019-07-01 15:30] jgravois commented on #82
resolved via #95

[2019-07-01 15:30] #82 closed

[2019-07-01 15:30] #80 closed

[2019-07-01 15:31] #66 closed

[2019-07-01 15:31] #76 closed

[2019-07-01 15:33] jgravois opened #96 "archive repo?"
none of the folks who've been looking over this plugin for the last few years are actively using it anymore.

I've cleaned up the open pull requests and issues. @mourner what do you think about archiving the repo?

[2019-07-01 16:18] mourner commented on #96
Fine by me, unless anyone wants to take over the maintenance. @fnicollet thoughts?

[2019-07-01 16:43] fnicollet commented on #96
Also fine by me, haven't done any maintenance for a long time now; and I am not planning to

[2019-08-21 11:48] ws-hofshteyn opened #101 "mapbox-gl map events doesn't fires"
Hi! I'm trying to use mapbox-gl events but they doesn't works. Leaflet does. Tried to use events for map and for layer as well. Maybe I missed something. Here is code example:
[code]

Working example: https://jsfiddle.net/hofshteyn/vat9skq5/2/

[2019-09-02 08:48] w8r commented on #101
@ws-hofshteyn Hi, I've added a patch here https://jsfiddle.net/w8r/Ljsd89tu/
Can I use your example code for the next release?

[2019-09-02 15:47] #101 closed

[2019-09-02 16:12] ws-hofshteyn commented on #101
@w8r yes, sure.
I also find another issue but seems it was already published here: it's about changing position of marker (or point) when zoom value is lower than 2. I see this issue at your example. Will it be fixed? And should create another issue?

[2019-09-03 14:38] w8r commented on #101
@ws-hofshteyn it would be easier to track if you create another issue, but I suppose that the maxZoom values between leaflet and mapbox-gl are different

[2019-09-07 14:53] StickerMHF opened #104 "右键不能用"
右键不能用

[2019-09-11 21:22] w8r commented on #104
Right click where? This plugin doesn't catch or block any events. There's an example on how to handle the events on mapboxgl layer https://rawgit.com/mapbox/mapbox-gl-leaflet/master/examples/events.html

[2019-09-11 21:22] #104 closed

[2019-09-27 09:04] olivierberten opened #106 "Please update the installation section of the readme"
It took me a while to figure out the reason I couldn't get to display the map was simply an outdated version of mapbox-gl.js

[2019-09-27 14:23] jgravois commented on #106
a pull request that uses unpkg.com to get the latest (similar to the example we show for our own library) would be welcome.

[2019-09-30 02:30] #106 closed

[2019-10-09 07:14] ademirci-init opened #108 "Your examples no longer work"
Beim öffnen ihrer drei beispiele bekomme ich immer die selbe Fehlermeldung ("Grund: CORS-Kopfzeile 'Access-Control-Allow-Origin' fehlt").

English: When opening their three examples I always get the same error message ("Reason: No 'Access-Control-Allow-Origin' header is present on the requested resource").

[2019-10-10 02:57] xilanhuaweidapao commented on #76
i have the error in linux

[2019-11-04 16:25] jgravois commented on #108
it appears https://www.maptiler.com no longer allows anonymous tile requests. a PR that substitutes a different service would be welcome.

[2019-11-07 16:04] w8r commented on #108
Thanks, will do

[2019-11-08 01:55] SrBrahma opened #110 "How to use with React Leaflet?"

[2019-11-08 02:20] jgravois commented on #110
issues are for reporting bugs in this library.

if you have a question about how to integrate with another project you're better off posting somewhere like Stack Overflow. you'll probably have more luck if you take the time to show what you've already tried.

[2019-11-08 02:44] #110 closed

[2019-11-10 04:25] SrBrahma commented on #110
For anyone else with the same doubt,

https://stackoverflow.com/questions/42765309/render-mapbox-vector-tiles-inside-react-leaflet

[2019-11-11 20:45] superchad opened #111 "Adding multiple style layers"
We would like to be able to add two style layers to the map. An imagery style that sits below our leaflet data, and a labels style that sits on top of the imagery and data. We have not succeeded at getting this to work. Here is a simple example of what we tried:

[2019-11-13 07:40] dmis53 opened #112 "Mapboxgl variable is empty during initialization"
Because of this, I get an error: Uncaught TypeError: Cannot set property 'accessToken' of undefined

https://jsfiddle.net/Lfdy6m59/

[2019-11-13 07:53] dmis53 commented on #112
Good. This is a problem on mapboxgl version 1.5.0

[2019-11-13 07:53] #112 closed

[2019-11-13 12:42] dmis53 opened #113 "Uncaught Map has no maxZoom specified. markercluster"
If I first build markers in a cluster group on a different tile, and therefore switch to MapBox GL, everything is fine. But if you turn on MapBox GL first and then add a cluster to the group, then I fall into the error: "Uncaught Map has no maxZoom specified"

I added MapBox GL to my tile list:

[code]

My baselayerchange event:
[code]

[2019-11-15 16:09] wallheater commented on #112
Just starting out... I had a similar error, but fix was just to load mapbox-gl.js script before leaflet-mapbox-gl.js.

The README Installation section has it the other way round.

[2019-11-15 16:38] jgravois commented on #112
@wallheater good catch. a pull request with a fix would be welcome.

[2020-01-10 12:08] advename commented on #76
I have the same error on Chrome, Windows 10.
[code]
Viewing the same page with Firefox works however.
It only worked again after a restart of Chrome.

[2020-01-10 19:18] duerrsimon commented on #108
Are there any updates to this? I cannot get this to work.

[2020-01-10 19:19] w8r commented on #108
You need a MapTiler API key

[2020-01-10 19:29] #108 closed

[2020-01-12 12:15] orionseye opened #116 "using Mapbox geolocation search and directions - should i use mapbox-gl-leaflet?"
Sorry to fill up your issues space,
correct me if i'm wrong, but using leaflet along with Mapbox geolocation search and directions api/plugins .. is there need to use mapbox-gl-leaflet?
Or  can i have a mix of both, as you state "If you only need the mapbox-gl-js features (adding a map with a mapbox-style, adding a GeoJSON, etc.), you are probably better off using it directly."

[2020-01-12 20:22] jgravois commented on #116
this library allows you to overlay vector tiles on a leaflet map and 'mix both' as you say.

that said, geolocation, search and directions are all things you can do in leaflet all by itself (or [mapbox-gl-js](https://docs.mapbox.com/mapbox-gl-js/examples/?size=n_10_n) for that matter) so you should probably just pick whichever one you prefer.

[2020-01-12 20:22] #116 closed

[2020-01-13 12:46] ansarikhurshid786 commented on #93
I am also facing issue with raster. do you have idea?

[2020-03-04 17:37] CramericaIndustries opened #117 "Make Mapbox GL access token optional"
When I try to initialize the map without Mapbox access token I'm getting this error message:

However if you are hosting your own tiles and map styles (like I do), no access token is required by mapbox-gl.js to run.

[2020-03-04 17:42] jgravois commented on #117
you can pass any old dummy token you want.

example: https://github.com/Esri/esri-leaflet-vector/blob/8a9b6056b02d17cdfb22d0ffa5fba94e7ea7e45c/src/Util.js#L12-L15

if you want to open a PR to make the parameter optional, it'd be welcome.

[2020-03-17 09:37] andreybuzin opened #118 "How to use it in Angular?"
Hello guys. I don't understand what should I do with this library in Angular. My steps:
1. I install this packages:
[code]
2. add in styles.scss
`@import '~leaflet/dist/leaflet.css';`

3. add in DOM
[code]

4. Next I include in map.service.ts
`import * as L from 'leaflet';`

5. I created map with a PNG tile for checking. It works
[code]

6. Next I try to use mapboxGL instead of loading PNG:
[code]

[2020-03-26 14:52] JanLoebel commented on #117
Should be fixed with:
https://github.com/mapbox/mapbox-gl-leaflet/pull/119

[2020-03-26 14:54] JanLoebel commented on #118
You have to import the javascript files of mapbox-gl and mapbox-gl-leaflet as well.

That can be done via:

[code]

[2020-03-27 18:47] jgravois commented on #117
released as [`v0.0.12`](https://github.com/mapbox/mapbox-gl-leaflet/releases/tag/v0.0.12)

[2020-03-27 18:47] #117 closed

[2020-04-01 11:36] #118 closed

[2020-05-06 20:57] JeongJun-Lee opened #120 "[Feat] Support easy changing of the map language on vector map."
There is already the language change library, OpenMapTiles language(https://github.com/klokantech/openmaptiles-language). Is it integrated to this lib to change easily a map language?

[2020-05-06 21:07] jgravois commented on #120
From the [README](https://github.com/mapbox/mapbox-gl-leaflet#code-example)

[code]

[2020-05-06 22:19] JeongJun-Lee commented on #120
I am well using this leaflet binding lib on Angular. But it's not easy to integrate the OpenMapTiles language lib with this lib together. The lib is too old and there is no Node package like this lib.

[2020-05-06 22:24] jgravois commented on #120
there isn't anything we can do about that here.

[2020-05-06 22:24] #120 closed

[2020-05-07 03:00] JackXueqing opened #121 "The logic here reduces the minZoom set by leaflet"
https://github.com/mapbox/mapbox-gl-leaflet/blob/b3affa6546e72511db1044c454f2ed0bd8b36722/leaflet-mapbox-gl.js#L117
When there is a layer / marker on the map, this setting will cause the overlay to shift when the zoom is equal to 1 or 0.

[2020-05-19 08:00] tom62291 opened #122 "support leaflet custom project using L.Proj.CRS"
Can this library support leaflet map using custom projection (by the L.Proj.CRS library)?

[2020-05-19 15:16] skarnl commented on #61
Just wanted to mention - for anyone who gets here via Google, there is (now) a helper-function to get the mapbox-instance: getMapboxMap()

So instead of getting the reference directly, just do:

[code]

[2020-05-26 12:51] bardrotzer opened #123 "Adding tiles to custom pane"
Would it be possible to add an option to draw a mapboxGL tile layer in a custom pane?

I know this was discussed (and closed) in #67, that would be some three years ago. Fixing this would not really be a big issue, something along this, in the `onAdd` function (and again in the `onRemove`) (https://github.com/mapbox/mapbox-gl-leaflet/blob/master/leaflet-mapbox-gl.js#L40).

[code]
An alternative wo

[2020-07-01 02:55] stevage commented on #123
This was [previously supported](https://github.com/mapbox/mapbox-gl-leaflet/pull/68#event-1270431469). Then for some reason [it was regressed](https://github.com/mapbox/mapbox-gl-leaflet/pull/109).

[2020-07-01 16:27] jgravois commented on #123
from the sounds of it #68 reverted #10 and #109 reverted #68.

the logic @bardrotzer describes above should allow for both features simultaneously and a PR would still be welcome.
1. optional custom panes
2. tilePane as a default.

[2020-08-28 17:42] jvaldezch opened #126 "Map canvas"
Is it possible to access the map canvas?

I'm getting this error:

map.getCanvas is not a function

[2020-08-28 18:54] jgravois commented on #126
yes.

the README contains information about accessing the underlying Mapbox GL JS map instance.

https://github.com/mapbox/mapbox-gl-leaflet/#code-example

[code]

[2020-08-28 19:32] jvaldezch commented on #126
Thanks, that works!

[2020-08-28 19:32] #126 closed

[2020-08-28 21:25] luisalcarasr commented on #118
I tried to import it like you said, but it still tells me that the mapboxGL method doesn't exist. Any suggestion?

[2020-08-31 15:28] jgravois commented on #123
closed via #124. thanks again!

[2020-08-31 15:28] #123 closed

[2020-08-31 15:33] jgravois commented on #122
since Mapbox GL JS itself only supports Mercator tiles, i'd say 'probably not'.

[2020-08-31 15:33] #122 closed

[2020-09-26 18:10] troutinsights commented on #76
Any update on this issue? Our customers are running into this on MacBook / Chrome.

[2020-10-19 15:06] che-ressoucenmangel opened #127 "Errors with modern Mapbox styles"
When I try to use the modern static tiles from mapbox (like mapbox://styles/mapbox/streets-v11), I get Errors:

`Uncaught Error: [3]: Expected arguments of type (number, number) | (string, string), but found (value, number) instead.
    at createFilter (cde7cb78-f483-4f81-9246-b018e988d5b7:182)
    at StyleLayerIndex.update (cde7cb78-f483-4f81-9246-b018e988d5b7:296)
    at StyleLayerIndex.replace

[2020-10-26 05:25] fdhdsjkfhds commented on #76
Same issue also

[2020-10-27 21:51] badrhamza commented on #118
Try to set the 'id' of 'div' to "map" like :  <div id="map"></div>

[2020-11-06 05:52] Chaitu15 opened #128 "Error at L.mapboxGL"
I am facing issue like below. Can anyone help, what i am missing

TypeError: leaflet__WEBPACK_IMPORTED_MODULE_3___default.a.mapboxGL is not a function

at below

var map = L.map('root').setView([38.912753, -77.032194], 15);
  L.marker([38.912753, -77.032194])
      .bindPopup("Hello <b>Leaflet GL</b>!<br>Whoa, it works!")
      .addTo(map)
      .openPopup();
  var gl = L.mapboxGL({
      accessTo

[2020-11-07 16:11] markslawton commented on #128
I had that problem as well.  I think it was because i hadn't installed mapbox-gl-leaflet correctly.

[2020-11-08 03:38] markslawton opened #129 "mapbox labels not aligning with countries"
I have a very large map project which uses labels (and only labels from mapbox. That is, I don't get any boundaries or terrain from mapbox.)

I bring those vector tiles into Leaflet Using mapbox-gl-leaflet.

Generally, everything works great. However as soon as the map is taller than it is wide, the labels no longer align with the countries (which have been drawn as polygons using GeoJSON). Here i

[2020-11-09 04:29] Chaitu15 commented on #128
By chance have you got it resolved?
But its just npm install right, nothing special i hope.

[2020-11-16 17:07] markslawton commented on #128
I forget how I resolved it and am hesitant to guess because I'm kind of a beginner.

[2020-11-16 17:11] markslawton opened #131 "missing issue from here"
I had an issue open here. And was having a  conversation running with Steve Bennett.  Now the thread seems to be gone.  Anybody know what happened?  Am I missing something about how this works?

[2020-11-18 02:24] markslawton commented on #129
Here's a codePen which shows the problem in a very stripped down form.  Anybody have an idea....   labels are above and the polygons (which should line up with them) are below

https://codepen.io/markslawton/pen/NWrJxWx

[2020-11-18 11:51] bongobongo opened #132 "Getting: Error: Source layer "aerodrome_label" does not exist on source "openmaptiles" ....."
I'm using mbtiles from openmaptiles with tileserver.php, and this mapbox-gl-leaflet. Vector tiles and all other files are on my computer. Map (vector tiles) is showing and working for the different zoom levels, but I'm getting this error in the browser console:
Error: Source layer "aerodrome_label" does not exist on source "openmaptiles" as specified by style layer "airport-label-major"

and there

[2020-11-18 18:42] markslawton commented on #132
I’m having a, perhaps, related problem…

With vector tiles from map box and map box-gl-leaflet, the country labels do not line up with the GeoJSON polygons of the countries.  It’s really a pain, as my project has come to a standstill.

Mark Lawton
www.markslawton.com <http://www.markslawton.com/>

If I asked a question above, please respond.  Thank You!

[2020-11-18 20:49] bongobongo commented on #132
markslawton: To me the problems seem unrelated. The labels that show on my vector map - show up where they should be displayed - that includes the names for the countries.

[2020-11-19 07:49] Chaitu15 commented on #128
Thank you. But No Problem, i got it resolved. But facing other issues, mapboxgl.getMapboxMap().on('click') event is not firing.

Any suggestions?

[2020-11-19 08:44] bongobongo commented on #132
Please just delete this thread. The issue has nothing to do with mapbox-gl-leaflet, and not even mapbox-gl-js. According to an answer from people over at mapbox-gl-js it is an issue with the vector tiles and style from openmaptiles:
https://github.com/mapbox/mapbox-gl-js/issues/10120

[2020-11-20 05:27] #132 closed

[2020-11-20 05:31] #128 closed

[2020-11-20 05:32] jgravois commented on #131
no clue. sorry.

[2020-11-20 05:32] #131 closed

[2020-11-27 18:17] markslawton commented on #132
thanks, john, for posting the latest version.  it seems to have solved my problem with the labels not aligning with the polygons.  huge help!

do you have any idea how to get the labels to stop wrapping around (outside the map bounds).

i have spent hours and hours trying all the suggestions I’ve found on the web, and still the labels persist.

any ideas?

[2021-02-05 10:56] loleg opened #137 "Supporting MapLibre"
Leaflet's author [commented recently](https://github.com/maplibre/maplibre-gl-js/issues/59#issuecomment-765298061) on the MapLibre project discussion, and this project lets us combine the best of both worlds. Since this wrapper is an independent and independently licensed project, there doesn't seem to me to be a need for a libre fork. But it would be good to rebase to the maplibre-gl-js libraries

[2021-02-06 03:14] jgravois commented on #137
this plugin _just works_ with maplibre-gl

https://codepen.io/jgravois/pen/gOLrOqb?editors=1000

[2021-02-06 03:14] #137 closed

[2021-02-06 03:17] jgravois commented on #129
i _think_ https://github.com/mapbox/mapbox-gl-leaflet/pull/134 resolved this error. if not, feel free to reply/reopen.

[2021-02-06 03:17] #129 closed

[2021-02-06 03:19] jgravois commented on #121
pretty sure #130 resolved this.

[2021-02-06 03:19] #121 closed

[2021-04-30 20:16] bpatrik commented on #113
It seems to be related to: https://github.com/Leaflet/Leaflet.markercluster/issues/611

[2021-05-01 08:34] animaux commented on #137
Apparently not any more with v1.14.0 https://github.com/maplibre/maplibre-gl-js/releases/tag/v1.14.0 :(

Maybe reopen?

[2021-05-01 15:29] jgravois commented on #137
yup, looks like `v1.14.0` introduced (at least) two breaking changes.

1. the bundled library has been renamed

https://unpkg.com/maplibre-gl@1.13.0-rc.4/dist/mapbox-gl.js
https://unpkg.com/maplibre-gl@1.14.0/dist/maplibre-gl.js

2. the namespace for the API has changed
[code]

see https://github.com/maplibre/maplibre-gl-js/issues/123 for more info

so much for being a drop-in replacement that aim

[2021-05-01 17:47] animaux commented on #137
Thanks! Is it possible to have an alias or something for the namespace, to make it work for both? (I’m no proper JS-programmer, sorry)

[2021-05-01 20:48] jgravois commented on #137
if you don't to muck around with it yourself, your best bet is to just use the your best bet is to use @codespree's fork

https://github.com/maplibre/maplibre-gl-js/issues/123#issue-842702375
https://github.com/codespree/maplibre-gl-leaflet

[2021-05-01 20:55] animaux commented on #137
Thanks. I follow your frustration regarding the fragmentation, so here’s another one `:(`.

[2021-05-07 12:56] anzee0715 commented on #79
Hi Guys,
I am facing same issue.
Can you share how you resolved this.

[2021-05-29 16:32] jgravois opened #139 "request to enable OAuth access for gh-release in the Mapbox GitHub organization"
i help maintain a utility library that tags GitHub releases using information from a CHANGELOG called [`gh-release`](https://www.npmjs.com/package/gh-release).
recently GitHub deprecated their [OAuth Authorization API](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/) and we switched to web authentication flow in the CLI.

this means that the tool will be disabled i

[2021-06-09 12:59] bobgear-eic commented on #118
I  was having the same trouble. the mapboxGL method became available after installing @types/mapbox-gl-leaflet from npm.

(I still can't get it to work though :( data is now arriving from the server, but the leaflet pane is strangely empty).

[2021-06-09 13:25] bobgear-eic commented on #118
Schoolboy error! my component needed a height and width!

Thanks to contributors to the thread for useful information.

[2021-06-28 06:49] guikeller opened #140 "Access Token Issue - Mapbox GL JS v2+"
The following packages / versions are okay.

package.json (shortened for brevity)
[code]

page/view that has a map
[code]

The source layer is from Bing Maps / Virtual Earth.
[code]

If I update "mapbox-gl" from version "^1.13.1", to a newer version **mapbox-gl v2+** it complains that no accessToken is present.

[2021-06-28 13:22] jgravois commented on #140
@guikeller do you see the same behavior in v2 mapbox-gl-js app without the leaflet wrapper?

[2021-06-28 13:37] TanguyDucky commented on #128
Solved by adding `import "mapbox-gl-leaflet";` on top of my file

[2021-06-29 03:09] fyuanz opened #141 "I feel stuck when I quickly drag the map in your example, 'events. html'"
In your example, 'events. html'
I feel stuck when I quickly drag the map.
But I don't know what went wrong,I'm a novice.
Do you have any good solutions or suggestions?
Thank you

[2021-06-30 02:04] guikeller commented on #140
Hi @jgravois ,

Sorry about the late reply.

If I use the __mapbox-gl-js v2__ lib _without the leaflet wrapper_ **it works fine**.
Following below a code sample in case you need it.

page/component with a map:
[code]

global app scss importing the mapbox css
[code]

The "MapHelper" class is in my first post.

Cheers!

[2021-07-05 04:02] guikeller commented on #140
Hi @jgravois

Should I raise an issue here ( https://github.com/mapbox/mapbox-gl-js ) too?
Or is this one enough already and covers that repo/project too?

Cheers.

[2021-07-05 17:24] jgravois commented on #140
Thanks for clarifying that the issue is not peculiar to this leaflet wrapper.

i don't think you're encountering a bug. starting in v2, a valid token is required to instantiate a map regardless of whether you're loading a Mapbox hosted basemap or not.

https://docs.mapbox.com/mapbox-gl-js/api/#migrating-to-v2

the issue tracker in this repo is solely for the leaflet wrapper. if/when you're encount

[2021-07-05 17:24] #140 closed

[2021-07-06 17:22] jgravois commented on #141
see https://github.com/mapbox/mapbox-gl-leaflet#motivation

[2021-07-06 17:22] #141 closed

[2021-07-06 17:23] #139 closed

[2021-10-11 09:47] oranoran opened #143 "Leaflet markers move around on pan, depending on Zoom"
When creating a mapgox-gl-leaflet map and adding Leaflet markers to it, these markers are not stable.
Markers move around (all at once) as the map is panned, so they are no longer where they are supposed to be.

To reproduce, simply check out [this](https://codepen.io/oranoran/pen/MWvWNmM) code pen.
It's a simple copy-paste of the Basic example from this project, with versions updated to mapbox-gl

[2021-10-16 20:18] agusterodin opened #145 "Map panning broken in mapbox-gl 2.5"
I am experiencing insane map panning jitter that renders map unusable in mapbox-gl 2.5. I have tested with mapbox-gl 2.4.1 (latest 2.4 patch release) and it works fine. The bug was introduced with mapbox-gl 2.5.

https://user-images.githubusercontent.com/10248395/137601102-6e89d6cd-4c11-48bc-8698-210421412f4e.mov

Thanks for the awesome library btw, much appreciated.

[2021-11-02 08:25] khamui commented on #143
Having the same issue with geoJSON layers (polygon layers as well). At the same time I am having the issue #145 . @oranoran did you find a solution/workaround for this?

I tried to add my geoJSON layer with `addSource`. But unfortunately i receive `undefined` for `gl.getMapboxMap()`.

Any ideas to solve this issue?

[2021-11-02 13:01] oranoran commented on #143
Nope, for now I reverted back from GL to using a TileLayer.

But long-term, if this isn't resolved somehow, I will need to either drop Leaflet and stay with MapBase vanilla, or drop MapBase and use some other backend.

[2021-11-17 23:07] thully opened #147 "Mapbox logo/attribution controls not visible"
It seems that the attribution controls are not visible by default in mapbox-gl-leaflet. The text attribution is disabled by default, and while the logo renders, it appears outside of the visible bounds of the Leaflet map, and even if you eliminate the padding (so that the size of the mapbox and Leaflet maps are the same), the z-index makes it render behind the map. The same applies to Mapbox's att

[2022-01-07 12:58] marshallino16 commented on #79
Anyone figured this one out ?

[2022-01-09 10:27] marshallino16 opened #148 "Canvas image is blank"
Hi,

How can we generate an image from the canvas?
Everytime we try something we only get a blank white image.

Also reported here: https://github.com/mapbox/mapbox-gl-leaflet/issues/79

Thanks

[2022-01-10 09:27] marshallino16 commented on #148
Find out.

There's a `preserveDrawingBuffer`  option that needs to be set to true.

e.g https://docs.mapbox.com/mapbox-gl-js/api/map/

[2022-01-10 09:27] #148 closed

[2022-01-16 07:38] webberig commented on #111
Leaflet allows you to control this by using "panes". Depending on the situation you can create your own "custom pane" and define its z-index. Check out this article:
https://leafletjs.com/examples/map-panes/

I created an updated (working) version of the jsfiddle:
https://jsfiddle.net/3hcgp6at/2/

[code]

[2022-01-26 09:12] WuCrazy opened #149 "jsfiddle template from readme not working"
There is an errror in jsfiddle template example from readme
`Uncaught TypeError: L.mapboxGL is not a function`

[2022-02-13 11:18] Jees1 opened #150 "Map keeps shaking with percentage sizes"
Hello, my map seems to shake a lot when I use `width: 100%` (or any percentage)

With px, it works just fine. I want to make the width the whole screen though.

Here's a video of the shaking:

https://user-images.githubusercontent.com/49425409/153725273-faaec144-cee5-45a2-aff0-4af452fadeee.mp4

In the video the width is 90%

This is the part of the HTML:
[code]

You can see it in action here: http

[2022-02-17 14:44] mourner commented on #150
Looks like you're using `mapbox-gl-leaflet` plugin — transferred your issue here.

[2022-02-24 09:01] Jees1 commented on #150
I've fixed the issue by using Leaflet.

[2022-03-17 14:15] yemling commented on #143
I'm also having this issue and it's a real shame as I have several highly interactive Leaflet maps that have markers, wms, etc that get stuck when panning with GL. Is there a work around? @oranoran you said you reverted to using a tileLayer, is that still a mapbox vector layer?

[2022-03-27 09:23] adam-lynch opened #151 "Polyline moves on pan / zoom"
![](https://user-images.githubusercontent.com/1427241/160275147-23dc56fb-9104-4ccb-be04-b096636d8794.gif)

Detailed explanation: https://github.com/Leaflet/Leaflet/issues/8089

This could be related to #143 but I don't think it's exactly the same.

[2022-04-13 13:40] AntoineJaury commented on #143
I've the same problem on a map. Downgrading mapbox-leaflet-gl to v0.0.7 works. From v0.0.8 the problem with the markers/map not moving synchronously appears.

On v0.0.8 a padding option has been added (https://github.com/mapbox/mapbox-gl-leaflet/compare/v0.0.7...v0.0.8#diff-c10a1c84c325e16badffd67a4a9a005cee3b6228787969d42e293ff61c299059R18). Could it be the source of the problem?

[2022-04-13 14:23] AntoineJaury commented on #143
In fact, I also reproduce it with the v0.0.7. The cases are less often but the bug is still here.

[2022-05-02 17:58] Ariayx commented on #93
Could it be possible to query a feature by a clicked point, instead of a bbox?

[2022-05-02 18:15] andersonn-roberto commented on #93
I don't think so, but you can check the queryRenderedFeatures function on MapBox GL documentation.

[2022-05-18 15:19] gemmavnash opened #152 "Map gets stuck with version 2.8.2 of mapbox gl"
I upgraded to mapbox gl js v2.8.2 and when panning the map, the mapbox layer gets stuck. I've reverted to v2.5.0 and the 'stuck' has gone.

[2022-06-23 06:55] fyuanz commented on #76
Same as this

[2022-07-08 08:37] gregori-goossens commented on #152
Hi,

i also use mapbox-gl and mapbox-gl-leaflet. Since version 2.5.1, tiles layer get stuck/freeze on move only markers layers move.

working version:
- mapbox-gl : 2.5.0
- mapbox-gl-leaflet : 0.0.15

not working version:
- mapbox-gl > 2.5.0

I can't find why 2.5.1 cause the issue, the only change seems to be : https://github.com/mapbox/mapbox-gl-js/pull/11084

thanks

[2022-07-09 00:13] thully opened #153 "In interactive mode, Mapbox fires spurious mousemove events on drag/pan"
If you enable interactive mode (by setting the interactive option to true), Mapbox's mousemove event will fire while panning the map, with event lngLat locations that don't reflect the actual cursor position. This does not happen when using Leaflet events, though those apply to the entire map and are thus not well suited to layer-specific functionality.

Currently, to work around this, I set a fla

[2022-07-14 11:25] Noraddeen commented on #128
how did you solved
I have the same problem mopboxGL is not function.
how did you solved
I do import "mapbox-gl-leaflet"; but didn't work

[2022-07-15 03:02] Chaitu15 commented on #128
Import * as Mapbox from "mapbox-gl-leaflet"

On Thu, 14 Jul, 2022, 4:55 pm Noradin Hassan, ***@***.***>
wrote:

[2022-08-19 10:30] johndolan29 commented on #76
Same issue here too. Chrome version 104.0.5112.81, Windows 10. Works on Edge though.

[2022-09-02 10:00] manuelroth commented on #145
Hi @rreusser, I just found this issue here because I ran into the same problem. Would it be possible to implement a workaround for this issue in mapbox-gl-leaflet?- Or this is need to be changed in mapbox-gl-js?

[2022-09-05 09:49] fabiovll opened #154 "OSM/mapbox vector tiles update"
Hi,
I have a leaflet map service and I use my mapbox style to display OSM tiles as basemap.

I've modified some features with wrong position in the OSM dataset.
After few minutes in the OSM tiles the new version of the features has been displayed, but until now (after a couple of months) in the mapbox version of the tiles I can still see the old position of the features I modified.
Do the mapbox t

[2022-09-15 02:13] xiaochenyeye commented on #76
Maybe we're running out of memory to load the map

[2022-09-15 03:11] RyanTG commented on #76
I had a user with this issue recently, and the it seemed that Chrome had updated but not restarted. Restarting it fixed the issue.

[2022-09-22 06:59] pratik-kanthi commented on #143
Downgrading `mapbox-gl` to `1.13.1` solved it for me

[2022-09-29 11:15] neelduttahere commented on #128
I am getting the same error
`TypeError: leaflet__WEBPACK_IMPORTED_MODULE_1__.default.mapboxGL is not a function`

It seems it's not able to recognize L.mapboxGL

I tried the above possible fixes, but none worked. Any suggestions? @Chaitu15

[2022-10-04 09:36] Chaitu15 commented on #128
Have you installed mapbox-gl-leaflet ??

[2022-10-04 09:36] Chaitu15 commented on #128
Have you installed mapbox-gl-leaflet ??

[2022-10-17 05:51] neelduttahere commented on #128
Hey sorry for the late reply! mapbox-gl-leaflet is also installed as peer dependency. But none the less, the issue doesn't happen to be arising anymore for some reason on a new project that I was working on, so I moved on. Thanks for the reply!

[2022-10-17 10:09] Chaitu15 commented on #128
Hi,

Just try

import "mapbox-gl-leaflet";

On Mon, Oct 17, 2022 at 11:21 AM Neel Dutta ***@***.***>
wrote: